@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0; padding: 0; list-style: none;
    box-sizing: border-box; text-decoration: none;
    font-family: 'Ubuntu', sans-serif; outline: none;
}

html, body{
    width: 100%;
    max-width: 1440px;
    position: relative;
}

/* -----VARIAVEIS----- */

:root{
    --azul: #3333fd;
}

/* -----TOPO----- */
.topo{
    width: 100%;
    background-color: var(--azul);
    color: #fff;
}

.bar-top{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

/* -----MENU----- */
.menu{
    background-color: #fff;
    color: #000;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    box-shadow: 0 2px 3px #000;
    padding: 0 30px;
}

.nav-menu ul{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.nav-menu ul li{
    margin: 0 5px;
    cursor: pointer;
}

/* -----CONTEUDO----- */

.content{
    margin-top: 10px;
    padding: 0 30px;
}

